/* @import url('https://fonts.googleapis.com/css2?family=Caramel&family=Grey+Qo&family=Lobster+Two:ital@1&display=swap'); */
.contactbody{
    border: 5px solid pink;
    margin: 10%  25%  3%;
    padding:20px 10px;
}

.contacth{
     font-family: unset ;
      text-align: center;
      margin: 5px 0px 22px 0px ;
}
.contactform{
    padding: 30px 0px 30px 50px; 
}
.emaillabel{
    margin-left:30%;
}
.emaillabel2{
    display:none;
}
.input{
    padding:10px;
    margin: 20px 30px 20px 0px;
    width: 260px;
}
.textmessage{
    padding:3px 30px 40px 5px;
    margin: 20px 0px;
    width: 550px;
}
.hoverontext:hover{
    border: 2px solid black;
}

.contactbutton{
    padding:10px;
    margin: 20px 30px 5px 0px;
    width: 93%;
    background-color: black;
    color:white;
}
.contactbutton:hover{
    color: rgb(92, 91, 91);
}
.social-media{
    margin-top: 2%;
      margin-left: 35%;
}
.social-media > a {
    padding:5%;
   color: black;
}
.fa-linkedin-in:hover{
    color: #0e76a8;
}
.fa-envelope:hover
{
    color:#e2e617;
}
.fa-github:hover
{
    color:#6cc644;
}
.fa-chevron-up{
    display: none;
}
@media only screen and (max-width: 600px)
{
    .contactbody{
        margin: 10%  7%;
        padding:20px 10px;
    }
    .contactform{
        margin-top: 10% ;
        padding: 2%; 
    }
    .emaillabel{
        display: none;
    }
    .emaillabel2{
        display:block;

    }
    .input{
        margin-left: 5%;
        width: 250px;
    }
    form>label{
        margin-left:18px;
        
    }
    .textmessage{
        margin-left: 5%;
        width: 250px;
    }
    .contactbutton{
        margin: 5%;
    }
    .social-media{
        margin-top: 3%;
        margin-left: 18%;
    }
    .social-media > a {
       padding:7%;
       color: black;
    }
    .fa-chevron-up{
        display: block;
        color:black;
      
    }
    .down-arrow{
        text-decoration: none;
        text-align: center;
    }
    
}