@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Philosopher:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
.project-Navbar{
    background :rgb(247, 203, 211);
    padding:40px; 
}
.phone-navbar{
    display: none;
}
.project-Navbar>div{
    margin-left:15%;
}
.project-link{
  color:black;
  padding:3px;
  text-decoration: none;
  margin-left: 30px;
}
.projecth{
    margin-bottom: 20px;
    padding: 1%;
    font-size: 40px;
    text-align: center;
    font-family: unset ;
}
.phone-div{
    display:none;
}
.phone-h{
    display:none;
}
.phone-hr{
    display:block;
}
.project-title{
    margin: 20px 220px;
}

.project-body{
    display:flex;
    background-color: rgba(255, 255, 255, 0.993);
    margin: 10% 50px;
   
}
.project-image{
    margin: 10% 0%;
    height: 80%;
    width:370px;
}
.project-details2{
    background-image: url(../image/bg1.jpg);
    margin-right: 20px;
    padding:20px 40px 30px 70px;
    border-radius: 50%;
    box-shadow: rgba(56, 55, 55, 0.3) 0px 2px 8px 0px;
}
.project-details{
    background-image: url(../image/bg1.jpg);
    margin-left: 20px;
    padding:20px 40px 30px 70px;
    border-radius: 50%;
    box-shadow: rgba(56, 55, 55, 0.3) 0px 2px 8px 0px;
}
.poject-head{
    font-family: 'Philosopher', sans-serif;
}
.project-info{
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}
.P-button{
    margin: 40px 5px 0px 0px;
    padding:11px 14px;
    border-radius: 10px;
    background:rgb(238, 182, 191);
    /* color: rgb(29, 28, 28); */
    font-family: 'Philosopher', sans-serif;
    border-color: rgb(238, 182, 191);
    cursor: pointer;
}
.P-button:hover{
    font-size: 10px;
}
.P-button>a{
    text-decoration: none;
    color:black;
    font-family: 'Philosopher', sans-serif;
}
.project-h{
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    font-family: 'Philosopher', sans-serif;
    
}
.project-tech{
    margin-top: 3%;
    font-size:18px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px)
{
.project-Navbar{
     padding:25px; 
     background: rgb(247, 203, 211);
}
.phone-navbar{
    display: block;
    padding-left: 90%;
}
.project-Navbar>div{
    margin-top: 3%;
    margin-left: 4%;
}
.phone-link{
    display: none;
}
.fa-home{
    color:rgb(63, 58, 58);
}
.phone-hr{
    display:none;
}
.projecth{
    margin-top: 0px;
    padding: 0px;
    font-size: 40px;
}
.project-title{
    margin: 30px 25px;
}
.project-body{
    display:block;
    margin: 0%;
    margin-bottom: 20%;
    /* box-shadow: rgba(51, 49, 50, 0.2) 0px 2px 8px 0px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.project-image{
    width:100%;
    margin-top: 0%;
    
}
.project-details{
    padding:20px 15px 30px 15px;
}
.project-info{
    font-size: 15px;
}
.P-button:hover{
    font-size: 14px;
}
.project-h{
    display:none;
}
.phone-div{
    display:block;
    background: rgb(247, 203, 211);
    margin-top: 3%;
    padding: 25px;
}
.phone-h{
    display:block;
    font-weight: bold;
    font-size: 120%;
    text-decoration:underline;
    font-family: 'Philosopher', sans-serif;
}
.project-tech{
    margin-top: 10%;
    font-size:15px;
    margin-bottom: 20px;
}

}