@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Grey+Qo&family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.skillbody{
    padding: 2% 5%;
    margin: 10% 25%;
    border: 5px solid pink;
    text-align: center;

}
.skillsh{
    margin-bottom: 6%;
    font-family: 'Playball', cursive;
}
.projectbutton{
    background-color: pink;
    border-color:pink;
    padding: 1% 10%;
    margin: 0% 35%;
}

.wrapper{
    width: 40%;
    min-width: 590px;
}
.container{
    width: 100%;
    padding: 30px 30px 50px;
    background-color: white;
    border: 2px solid rgba(255,255,255,0.06);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
} 
.container *{
    font-family: "Poppins",sans-serif;
    color: black;
    font-weight: 500;
}
h2{
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
}
.skills:not(:last-child){
    margin-bottom: 30px;
}
.details{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
}
.bar{
    position: relative;
 
    border: 2px solid pink;
 
    border-radius: 20px;
  
}
.bar div{
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: pink;
 
}
#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill{
    100%{
        width: 75%;
    }
}
#css-bar{
    animation: css-fill 2s forwards;
}
@keyframes css-fill{
    100%{
        width: 65%;
    }
}
#js-bar{
    animation: js-fill 2s forwards;
}
@keyframes js-fill {
    100%{
        width: 45%;
    }
}
#jQuery-bar{
    animation: jQuery-fill 2s forwards;
}
@keyframes jQuery-fill{
    100%{
        width: 58%;
    }
}
#java-bar{
    animation: jQuery-fill 2s forwards;
}
@keyframes jQuery-fill{
    100%{
        width: 58%;
    }
}

@media only screen and (max-width: 600px)
{
    .skillbody{
        padding: 8% 5%;
        margin: 30% 7%;
    }
    .projectbutton{
        padding: 3% 20%;
        margin: 1% 15% 20%;
    }
    .wrapper{
        min-width: 270px;
    }
    .skillsh{
        font-size: 30px;
    }
    .container{
        padding: 30px 40px;
        border-radius: 0px;
    } 
    .container *{
        font-weight: 350;
    }
    #html-bar{
        animation: html-fill 2s forwards;
    }
    @keyframes html-fill{
        100%{
            width: 75%;
        }
    }
    #css-bar{
        animation: css-fill 2s forwards;
    }
    @keyframes css-fill{
        100%{
            width: 65%;
        }
    }
    #js-bar{
        animation: js-fill 2s forwards;
    }
    @keyframes js-fill {
        100%{
            width: 40%;
        }
    }
    #java-bar{
        animation: jQuery-fill 2s forwards;
    }
    @keyframes jQuery-fill{
        100%{
            width: 55%;
        }
    }
}